@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #FFC448;
  --color-secondary: #8200DB;
  --color-accent: #0000fe;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  color-scheme: "dark";
  --color-primary: #0298BD;
  --color-secondary: oklch(65% 0.241 354.308);
  --color-accent: oklch(77% 0.152 181.912);
}

/* When theme is dark */
[data-theme="dark"] a.active {
  background-color: var(--color-primary);
  /* Dark theme's primary color */
  color: #ffffff;
}

/* When theme is light */
[data-theme="light"] a.active {
  background-color: var(--color-primary);
  /* Light theme's primary color */
  color: #ffffff;
}

/* a.active{
  padding: 4px 20px;
  background-color: #058538;
  color: #ffffff;
} */



.plus {
  position: absolute;
  color: #058538;
  font-size: 24px;
  font-weight: bold;
  user-select: none;
  pointer-events: none;
  animation: fall 1s ease-out forwards;
}

@keyframes fall {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateY(100px) scale(0.5);
  }
}




/* ---------cutom------------- */

html {
  scroll-behavior: smooth;
}



#home {
  margin-bottom: 6rem;
  background: url(../bg-header.png) left top no-repeat;
}

.nav-wave::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 200%;
  height: 100%;
  background: linear-gradient(120deg,
      transparent 0%,
      rgba(166, 166, 58, 0.158) 50%,
      transparent 100%);
  animation: waveMove 4s linear infinite;
  z-index: 0;
  pointer-events: none;
}

@keyframes waveMove {
  0% {
    left: -150%;
  }

  100% {
    left: 100%;
  }
}


.nav-pulse-wave::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 250%;
  height: 100%;
  background: linear-gradient(120deg,
      transparent 40%,
      rgba(255, 0, 102, 0.089) 50%,
      transparent 60%);
  animation: pulseMove 4s linear infinite, pulseScale 2s ease-in-out infinite;
  z-index: 0;
  pointer-events: none;
}

@keyframes pulseMove {
  0% {
    left: -150%;
  }

  100% {
    left: 100%;
  }
}

@keyframes pulseScale {

  0%,
  100% {
    transform: scaleY(1);
    opacity: 0.7;
  }

  50% {
    transform: scaleY(1.3);
    opacity: 1;
  }
}



